
.about__grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 2rem;
}

.about__card {
  background-color: var(--color-gray-card);
  border-radius: 0.5rem;
  padding: 1.5rem;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.about__card-icon {
  padding: 0.75rem;
  background-color: var(--color-green);
  border-radius: 0.5rem;
}

.about-icon {
  font-size: 1.5rem;
  color: var(--color-white);
}

.about__card-text p {
  color: var(--color-gray-text);
  margin-top: 1rem;
  font-size: var(--size-base);
  font-weight: 500;
}

.about__button {
    display: flex;
    justify-content: center;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
  .about__text {
    font-size: var(--size-base);
  }

  .about__grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* lg */
@media (min-width: 1024px) {
  .about__grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
