.courses__grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1.5rem;
}

.courses__img {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.courses__card {
  position: relative;
  background-color: var(--color-gray-card);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.courses__card-content {
  padding: 1.5rem;
  margin-top: 2rem;
}

.courses__text {
  color: var(--color-gray-text);
  font-size: var(--size-sm);
  margin-block: 1rem;
}

.courses__ratings {
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clock-icon,
.star-icon {
  color: var(--color-green);
  font-size: 1.2rem;
}

.courses__ratings-span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--color-white);
}

.courses__hastags {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.hastag {
  color: var(--color-white);
  font-size: var(--size-xs);
}

.courses__cta {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.courses__cta span {
  font-size: var(--size-xs);
  color: var(--color-gray-text);
}

.begginer {
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
  background-color: var(--color-green);
  padding-block: 0.25rem;
  padding-inline: 0.75rem;
  border-radius: 0.25rem;
}

.begginer__text {
  font-size: var(--size-xs);
  color: #000;
  font-weight: 800;
}

.courses__card button {
  font-size: var(--size-xs);
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
}

/* md */
@media (min-width: 768px) {
  .courses__grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* lg */
@media (min-width: 1024px) {
  .courses__grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
