.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-green);
  backdrop-filter: blur(8px);
  z-index: 999;
}

.logo__link {
  font-family: var(--font-family-buttons);
  display: flex;
  align-items: center;
  color: var(--color-white);
  font-size: var(--size-base);
}

.header__nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: none;
  align-items: center;
}

.nav__list li {
  padding: 0.75rem;
  cursor: pointer;
}

.nav__list li:hover {
  background-color: var(--color-gray);
}

.nav__link {
  font-family: var(--font-family-buttons);
  color: var(--color-white);
  font-size: 0.875rem;
  font-weight: 500;
}

.logo {
  width: 56px;
  height: 56px;
}

.moon-icon {
  font-size: 2rem;
  color: var(--color-light);
  cursor: pointer;
}

.moon-icon:hover {
  color: var(--color-white);
}

.nav__link-dropdown {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.chevron-icon {
  font-size: 1.5rem;
}

.header__cta {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-left: auto;
}

.hamburger-menu {
  display: block;
  color: var(--color-light);
  font-size: 1.5rem;
  margin-left: 1rem;
}

.hamburger-menu:hover {
  color: var(--color-white);
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
  .nav__list {
    display: flex;
  }

  .hamburger-menu {
    display: none;
  }
}

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
