/*==== BUTTONS ====*/
.btn-primary {
  font-family: var(--font-family-buttons);
  font-weight: 500;
  font-size: var(var(--size-base));
  text-decoration: none;
  background-color: var(--color-green);
  padding: 0.5em 1em;
  clip-path: polygon(
    0 0,
    calc(100% - 20px) 0,
    100% 20px,
    100% 100%,
    20px 100%,
    0 calc(100% - 20px)
  ) !important;
  overflow: hidden;
  position: relative;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: rgba(163, 230, 53, 0.8);
}

.btn-secondary {
  font-family: var(--font-family-buttons);
  font-weight: 500;
  font-size: var(--size-base);
  text-decoration: none;
  background-color: var(--color-green);
  padding: 1em 0.5em;
  clip-path: polygon(
    0 0,
    calc(100% - 20px) 0,
    100% 20px,
    100% 100%,
    20px 100%,
    0 calc(100% - 20px)
  ) !important;
  overflow: hidden;
  position: relative;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.btn-secondary:hover {
  background-color: rgba(56, 189, 248, 0.8);
}

.btn-cta {
  border: 1px solid var(--color-green);
  color: var(--color-green);
  font-size: 0.75rem;
  background-color: transparent;
  padding: 0.6em 1em;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.btn-cta:hover {
  background-color: rgba(163, 230, 53, 0.1);
}

/*==== CONTAINER ====*/
.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: 0.5rem;
  /* border: 1px solid green; */
}

.section {
  padding-top: 4rem;
}

/*==== RESPONSIVE ====*/
/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1168px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  
}
