/*==== BUTTONS ====*/
.btn-primary {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: var(--font-family-buttons);
  font-weight: 500;
  font-size: var(--size-base);
  text-decoration: none;
  background-color: var(--color-green);
  padding: 0.5em 1em;
  clip-path: polygon(
    0 0,
    calc(100% - 20px) 0,
    100% 20px,
    100% 100%,
    20px 100%,
    0 calc(100% - 20px)
  ) !important;
  overflow: hidden;
  position: relative;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: rgba(163, 230, 53, 0.8);
}

.btn-secondary {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: var(--font-family-buttons);
  font-weight: 500;
  font-size: var(--size-base);
  text-decoration: none;
  background-color: var(--color-blue);
  padding: 0.5em 1em;
  clip-path: polygon(
    0 0,
    calc(100% - 20px) 0,
    100% 20px,
    100% 100%,
    20px 100%,
    0 calc(100% - 20px)
  ) !important;
  overflow: hidden;
  position: relative;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.btn-secondary:hover {
  background-color: rgba(56, 189, 248, 0.8);
}

.btn-cta {
  border: 1px solid var(--color-green);
  color: var(--color-green);
  font-size: 0.75rem;
  background-color: transparent;
  padding: 0.6em 1em;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.btn-cta:hover {
  background-color: rgba(163, 230, 53, 0.1);
}

.btn-third {
  color: var(--color-white);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: var(--font-family-buttons);
  font-weight: 500;
  font-size: var(--size-base);
  text-decoration: none;
  background-color: var(--color-gray-btn);
  padding: 0.5em 1em;
  clip-path: polygon(
    0 0,
    calc(100% - 20px) 0,
    100% 20px,
    100% 100%,
    20px 100%,
    0 calc(100% - 20px)
  ) !important;
  overflow: hidden;
  position: relative;
  text-transform: uppercase;
  transition: all 0.3s ease;
  margin-top: 4rem;
}

.btn-third-icon {
  font-size: 1.2rem;
}

.btn-third:hover {
  background-color: var(--color-gray);
}

/*==== CONTAINER ====*/
.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: 1rem;
  /* border: 1px solid green; */
}

.section-top {
  padding-top: 4rem;
}

.main {
  padding-top: 4rem;
  min-height: 100vh;
}

.cyber-grid {
  background-image: linear-gradient(#84cc161a 1px, #0000 0),
    linear-gradient(90deg, #84cc161a 1px, #0000 0);
  background-size: 30px 30px;
}

.cyberpunk {
  border: 5px solid var(--color-green);
  border-width: 30px 5px 24px;
  clip-path: polygon(
    0 25px,
    26px 16px,
    calc(60% - 25px) 16px,
    60% 25px,
    100% 25px,
    100% calc(100% - 10px),
    calc(100% - 15px) calc(100% - 10px),
    calc(80% - 10px) calc(100% - 10px),
    calc(80% - 15px) 100%,
    80px 100%,
    65px calc(100% - 15px),
    0 calc(100% - 15px)
  );
  padding: 5px;
  position: relative;
  font-size: var(--size-xs);
  color: var(--color-gray-text);
  max-width: 42rem;
  margin-inline: auto;
  margin-bottom: 4rem;
  text-align: center;
}

.cyber-frame {
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
  padding: 20px;
  position: relative;
  background-color: var(--color-gray-card);
}

.cyber-frame::before {
  animation: rotate 8s linear infinite;
  background: linear-gradient(
    90deg,
    #0000 40%,
    #84cc16,
    #84cc16,
    #84cc16,
    #0000 60%
  );
  content: "";
  height: 200%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform-origin: 50%;
  width: 200%;
  z-index: 2;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}

h1 {
  font-family: var(--font-family-headings);
  font-size: var(--size-4xl);
  color: var(--color-white);
  font-weight: 700;
}

h2 {
  font-family: var(--font-family-headings);
  font-size: var(--size-3xl);
  font-weight: 700;
  color: var(--color-white);
  text-align: center;
  margin-block: 1rem;
}

h3 {
  font-family: var(--font-family-headings);
  color: var(--color-white);
  font-weight: 700;
  font-size: var(--size-xl);
  margin-bottom: 0.5rem;
}

/*==== RESPONSIVE ====*/
/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  h1 {
    font-size: var(--size-5xl);
  }

  h2 {
    font-size: var(--size-4xl);
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1168px;
  }
  h1 {
    font-size: var(--size-6xl);
  }
}

/* 2xl */
@media (min-width: 1536px) {
}
